<a href="https://colab.research.google.com/github/Engrdutse/3MTT_DATA_SCIENCE/blob/main/3MTT_WEEK7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**#Data Wrangling Techniques**

In [2]:

# Importing necessary libraries
import pandas as pd

In [3]:
url_data = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'

In [4]:
# Load the real dataset
titanic1 = pd.read_csv(url_data)

In [5]:
# Display the first 5 rows of the dataset
print("First 5 rows of the dataset:")
print(titanic1.head())

First 5 rows of the dataset:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [6]:
# Check for missing values
print("\nMissing values in the dataset:")
print(titanic1.isnull().sum())

Missing values in the dataset:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
# Dropping rows with missing values
titanic2 = titanic1.dropna()

In [8]:
titanic2.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

In [9]:
# Dropping unnecessary columns
titanic2 = titanic2.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)

In [10]:
titanic2.head(5)

    Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
1          1       1  female  38.0      1      0  71.2833        C
3          1       1  female  35.0      1      0  53.1000        S
6          0       1    male  54.0      0      0  51.8625        S
10         1       3  female   4.0      1      1  16.7000        S
11         1       1  female  58.0      0      0  26.5500        S

In [11]:
# Convert categorical variables to dummy variables
titanic2 = pd.get_dummies(titanic2, columns=['Sex', 'Embarked'], drop_first=True)

In [12]:
# Normalize numerical variables
titanic2['Age'] = (titanic2['Age'] - titanic2['Age'].mean()) / titanic2['Age'].std()
titanic2['Fare'] = (titanic2['Fare'] - titanic2['Fare'].mean()) / titanic2['Fare'].std()

In [13]:
# Display the first 5 rows of the processed dataset
print("\nProcessed dataset:")
print(titanic2.head())

Processed dataset:
    Survived  Pclass       Age  SibSp  Parch      Fare  Sex_male  Embarked_Q  \
1          1       1  0.148657      1      0 -0.096914         0           0
3          1       1 -0.043111      1      0 -0.335078         0           0
6          0       1  1.171422      0      0 -0.351287         1           0
10         1       3 -2.024719      1      1 -0.811843         0           0
11         1       1  1.427114      0      0 -0.682828         0           0

    Embarked_S
1            0
3            1
6            1
10           1
11           1

In [14]:
# Save the processed dataset to a new CSV file
titanic2.to_csv('processed_titanic.csv', index=False)

print("\nDataset processing and wrangling is complete!")

Dataset processing and wrangling is complete!