<a href="https://colab.research.google.com/github/Engrdutse/3MTT_DATA_SCIENCE/blob/main/Week_3_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# Departmental Profile
profile = [("Aliyu Abba", 35, "Male", "Lecturer"),
              ("Baasiru Yusuf", 45, "Male", "Lecturer"),
              ("Nura Isah", 51, "Male","Lecturer"),
              ("Aisha Muhammad", 32, "Female", "Lecturer"),
              ("Usman Abubakar", 26, "Male", "Lecturer"),
              ("Farida Garba", 27, "Female", "Instructor"),]

# Generating list of names from profile
names = [data[0] for data in profile]
print("List of names:", names)
print()

# Generating tuple of ages from profile
ages = tuple(data[1] for data in profile)
print("Tuple of ages:", ages)
print()

# Generating set of genders from profile
genders = {data[2] for data in profile}
print("Set of genders:", genders)
print()

# Generating set of cadre from profile
cadre = {data[3] for data in profile}
print("Set of Cadre:", cadre)
print()

# Analyze the profile
mean_age = sum(ages) / len(ages)
print("Average age:", mean_age)
print()

male_count = sum(data[2] == "Male" for data in profile)
female_count = len(profile) - male_count
print("Number of males:", male_count)
print("Number of females:", female_count)
print()

lecturer_count = sum(data[3] == "Lecturer" for data in profile)
instructor_count = len(profile) - lecturer_count
print("Number of lecturers:", lecturer_count)
print("Number of instructors:", instructor_count)
print()

List of names: ['Aliyu Abba', 'Baasiru Yusuf', 'Nura Isah', 'Aisha Muhammad', 'Usman Abubakar', 'Farida Garba']

Tuple of ages: (35, 45, 51, 32, 26, 27)

Set of genders: {'Male', 'Female'}

Set of Cadre: {'Lecturer', 'Instructor'}

Average age: 36.0

Number of males: 4
Number of females: 2

Number of lecturers: 5
Number of instructors: 1